* {
  padding: 0;
  margin: 0;
}

#container {
  margin: 0 auto;
  position: relative;
  background: orange;
  width: 1000px;
  height: 600px;
}

#combination {
  float: left;
  width: 500px;
}

#form {
  background: firebrick;
}

#form input {
  width: 70%;
}

#holograph {
  float: right;
  position: relative; /* svg 需要设置 zIndex 否则线会被遮挡 */
  width: 500px;
  height: 100%;
  background: #1f1f89;
}

.car {
  position: absolute;
  width: 40px;
  height: 40px;
}

#car1 {
  top: 100px;
  left: 30px;
  background: green;
}

#car2 {
  top: 500px;
  left: 80px;
  background: yellow;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
